body {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-weight: bold;
}

h2, h3, h4, h5, h6 {
    font-family: 'Prompt', sans-serif;
    color: #3D4A60;
    font-weight: 700;
}

/* Navigation Bar */
#nav {
    left: 0%;
    right: 0%;
    background-color: #35557B;
    position: fixed;
    top: -75px;
    display: block;
    transition: top 0.4s;
    box-shadow: 2px 2px 5px black;
    z-index: 1;
}

.nav-item {
    color: #E7F6F2;
    float: right;
    display: block;
    text-align: center;
    padding: 22px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}

a:hover {
    color: white;
}

.nav-item:first-child {
    float: left;
    font-weight: 500;
}

.nav-item:hover {
    color: #d3cbf5;
    transition: 0.5s;
}

.nav-item:hover:after {
    transform: scaleX(1);
}

.nav-item::after {
    display: block;
    content: '';
    border-bottom: solid 3px #d3cbf5;
    transform: scaleX(0);
    transition: 350ms ease-in-out;
    transform-origin: 0% 50%;
}

/* Headings */
.moon-heading {
    margin: auto;
}

.intro {
    display: flex;
}

.big-heading {
    color: #E7F6F2;
    margin: 15% auto auto;
    font-size: 6rem;
    max-width: 100%;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

.small-heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #E7F6F2;
    font-size: 2.5rem;
    margin: 10% auto;
    overflow: hidden;
}


.intro h2 span.cursor {
    color: #E7F6F2;
    display: inline-block;
    background-color: #E7F6F2;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 0.8s infinite;
}

.intro h2 span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0%  { background-color: #E7F6F2; }
    49% { background-color: #E7F6F2; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #E7F6F2; }
}

/* Title Section */
#title {
    text-align: center;
    background-color: #A7C7E7;
    height: 100vh;
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* About Section */
.about-div {
    text-align: center;
    background-color: #C5E3F6;
    position: relative;
    border-width: 10px;
    border-color: black;
}

.about-header {
    color: #2D4059;
    font-family: 'Courier New', monospace;
}

.about-header::before {
    content: 'print("Hello!")';
    display: block;
    font-size: 2rem;
    font-weight: 400;
}

.profile-pic {
    width: 200px;
    height: 200px;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 50%; 
    object-fit: cover;
}

/* Console styling */
#console {
    margin: 40px;
    margin-top: 20px;
    padding: 30px;
    overflow-y: auto;
    line-height: 22px;
    height: 500px;
    width: 550px;
    font-size: 90%;
    font-family: Monaco, monospace;
    border-top: 20px solid #e5e5e5;
    border-radius: 4px;
    background-color: #2a2d34;
    box-shadow: 12px 12px 1px #d7d3e7;
}

#console a {
    text-decoration: underline;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    text-align: left;
}

.first-color {
    color: #ffa500;
}

.second-color {
    color: white;
}

.third-color {
    color: #B2A4FF;
}

.fourth-color {
    color: #FF06B7;
}

.fifth-color {
    color: #90C8AC;
}

.sixth-color {
    color: #CA82FF;
}

.seventh-color {
    color: #5FD068;
}

.eighth-color {
    color: #FBCB0A;
}

.ninth-color {
    color: #81CACF;
}

/* Projects Section */
#projects {
    text-align: center;
    background-color: #E3F2F9;
}

.projects-heading {
    color: #3D4A60;
    padding-top: 70px;
    padding-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.card-img-top {
    background-color: black;
    border: 5px solid;
}

.card-deck {
    padding-left: 100px;
    padding-right: 100px;
    margin-left: -15px;
    margin-right: -15px;
}

@media (max-width: 575.98px) {
    .card-deck {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.card {
    background-color: #35557B;
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: 98%;
}

.card-body {
    background-color: #578cb3;
    flex-grow: 1;
}

.card-footer {
    margin-top: auto;
}

.card p {
    color: #ffffff;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}

.card h3 {
    color: #2D4059;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}

.card-footer button {
    color: #8bbcdf;
}

.card-deck {
    padding-bottom: 40px;
}

/* Footer */
#footer {
    background-color: #C5E3F6; 
    text-align: center;
}

.footer-items {
    padding: 30px 10px 10px;
}

.footer {
    padding-top: 20px;
    color: #2D4059;
}

.footer-link {
    color: #2D4059;
}

.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}
